.card
	img(src="/images/projects/alexaAutomation.png")
	.widthRestriction
		h2 Alexation
		h5.mono June 2019
		h6 👍 Completed
		p
			| Not very original, but this project eliminated the need of a central Alexa hub by creating an ecosystem using NodeMCU. It brings down the cost of automation from $20 to $3 per device.
		.tags
			.tag
				p NodeMCU
			.tag
				p IoT
			.tag
				p C++
			.tag
				p Home automation
		//- h4 Resources
		.resources
			a(href="https://github.com/KrishSkywalker/Alexation")
				i.fa.fa-github