.card
	//- img(src="/images/projects/binaryBox.png")
	.widthRestriction
		h2 Portfolio page
		h5.mono September 2019
		h6 👍 (Never) Completed
		p
			| I wanted a platform to showcase all that I have done and will be doing while relfecting my personal taste in design and being dynamic enough for easy and quick updation, hence this webpage.
		.tags
			.tag
				p Portfolio
			.tag
				p Express.JS
			.tag
				p Heroku
			.tag
				p Pug
			.tag
				p Stylus
		//- h4 Resources
		.resources
			a(href="https://github.com/KrishSkywalker/krishgoel.com")
				i.fa.fa-github