// Colours
white = #ffffff
backgroundWhite = #f9f9f9
darkGrey = #4f4f4f
midtoneGrey = #969595
offWhite = #fafaf9
black = #000000

body
   color lightGrey
   background-color darkGrey

a
   color white
   
h1 
   color white

h2
   color white

h6, h6 a
   color midtoneGrey   

::selection
   background-color lightGrey
   color white

mark
   background-color rgba(79, 79, 79, 0.5)
   color lightGrey
   
// Topnav
nav
   background-color black
   box-shadow 7px 7px 21px -10px rgba(36,36,36,0.89)

nav .topnavLinks a, nav h1
   color white

nav .topnavLinks a:hover
   border-bottom 1px solid white

#moon, #sun:hover
   border none
   cursor pointer

#moon 
   display none

.card
   background-color black
   box-shadow 7px 7px 21px -10px rgba(36,36,36,0.89)

.card:hover
   box-shadow 7px 7px 35px -10px rgba(36,36,36,0.89)

.card h6
   color white

.card .tags .tag
   background-color rgba(255,255,255,0.1)
   border 2px solid rgba(255,255,255,0.9)

.card .tags .tag:hover
   background-color rgba(0,0,0,0)

.progressBarContainer
   background-color midtoneGrey

.experience .card a:hover
   border-bottom 1px solid darkGrey
   
// Reach me section
.playlistContainer
   background-color black
   box-shadow 7px 7px 21px -10px rgba(36,36,36,0.89)

.playlistContainer:hover
   box-shadow 7px 7px 35px -10px rgba(36,36,36,0.89)

.reachMe .col-2 .contactLinks a
   border-bottom 1px solid rgba(0,0,0,0)
   
.reachMe .col-2 .contactLinks a:hover
   border-bottom 1px solid offWhite