div.row#collaboration
	div.col-lg-12
		h2 Collboration invite
		h5.purple Because none of us is as smart as all of us
		p 
			| Eyena is for the community hence, we'd like to build it with the community. So now, we invite everyone interested in bringing this concept to reality with us for collaboration. With the current lockdown situation with minimal access to parts, resources and communication with the world, we believe, coming together and working together would be a great way to gain wider access to resources, ideas and thoughts. 
div.row#joinin
	div.col-lg-6
		h3 People we are particularly looking for
		p 
			| While we welcome everyone who sees Eyena as a learning opportunity onboard, we are particularly looking for people with specifics skill sets to work with to boost the process. We'll be updating this webpage with the developments and you can hit us up anytime for any more details.
		ul
			li 
				strong PCB Designer
				br
				| Someone who's adept with designing Printed Circuit Boards for final products since my skillset is currently limited to the prototyping stage. Your contributions to Eyena will also help us learn and expand our repertoire.
			li 
				strong Raspberry Pi Developer
				br
				| I, Krish am primarily an Arduino developer and quiet inexperienced with Raspberry Pi Dev. Your job would be to program the MCU and finalize the circuit schemas which I have prepared for finalizing the prototypes.
			li 
				strong Electronic components supplier
				br
				| Again, it's really hard to arrange the electronic components especially since Delhi has been declared a red zone, e-commerce deliveries for e-parts have been completely suspended. Not necessarily a supplier, even if you're an individual with spare parts from the BOM and are willing to contribute, it'll be greatly appreciated.
			li 
				strong Hardware supplier
				br
				| The magic comes to this mirror through the hardware and it's real hard for me to arrange the components for the same. We'd love it if you could provide us the wood, glass, screw and nuts we'll be needing.
	div.col-lg-6
		h3 Getting onboard 
		a(href="https://forms.gle/CaZTWZkCC5brxbrFA")
			button Join the team
		a(href="https://forms.gle/CaZTWZkCC5brxbrFA")
			button Learn with Eyena
		br
		br
		h3 Back Eyena
		p Can't find your skillset in the working team but still want to help? You can always be the financial backup, not only can Eyena be a great CSR initiative for your organisation, you also get to be associated with the next potentially big high school startup.
		a(href="https://forms.gle/p9BUDEvgjnqXDCMe8")
			button Sponsor Eyena
		br
		br
		//- h3 💖 Special thanks
		//- ul
		//- 	li My dad for guiding me throughout
		//- 	li My mum for supporting me everywhere and letting me miss my school online classes
		//- 	li The bois (Raghav, KG, Jyotir, Kanudia, Srivastva, Panda) for being absolute madlads
		//- br
		h3 👽 Current status
		p
			| Due to the limitations and cost factors of the current thermal image detection technology, Eyena is not economically viable. However, with the recent developments, we can expect suitable technologies by mid 2021 where we may start working on Eyena (or something similar pertaining to the situation) again.