div.row
	div.col-lg-6
		h2 Introducing Eyena
		p
			| Eyena is an IoT based smart mirror that measures your body temperature upon detecting your presence without any physical contact. Looking like an everyday mirror, it blends with your furniture.
		h3 Purpose solved
		p
			| Post the lifting of lockdowns around the world, people will start going places. This will naturally mean a bigger threat of the virus spreading.  Especially with the influx and exodus of the crowds such as restaurants, hotels, offices and workplaces, a good idea is to take a thermal reading of the people at the bare minimum before permitting entry.
			br
			br
			| The problem here however is how time consuming the process is and the peril of the virus spreading due to physical contact. Even in case of IR thermometers, the human proximity is less than what's required for the virus to spread.
			br
			br
			| Eyena eliminates this problem by ensuring minimal human interaction and labour effort. It also stores each user's data for analysis of trends in each individual user's health. Eyena packs all of this without being tacky and merging with surroundings.
	div.col-lg-6
		img(src="/images/eyena/mockup.png")
		p.caption A mockup of our favourite US President using Eyena
		img(src="/images/eyena/sample.png")
		p.caption Coming back to the seamlessness of Eyena, it can be tweaked to look like any modern day boutique wall mirror
div.row
	div.col-lg-12
		h3 Application
		p
			| While we believe Eyena is a need in a myriad of spaces, we see the most viable application in restaurants, homes and hotels. Our homes are our safehouses, somewhere we feel protected and we wouldn't want anything breaching our privacy and safety at any costs. Especially with guests who could be potential carriers of the virus, the mirror can check for signs without making anyone feel of being subjected to a test.
			br
			| A similar procedure can be implemented in hotels and restaurants where guests can get their thermal scan done seamlessly while styling their hair in front of the mirrors.
hr