div.row#introduction
	div.col-lg-12
		h1 Greetings!
		p
			| Hi everyone! We are Krish and Yash, engineering aspirants and high-school students from 
			a(href="https://sanskritischool.edu.in") Sanskriti School, New Delhi
			| . You can read up more about us on 
			a(href="https://krishgoel.com") krishgoel.com 
			| and 
			a(href="https://yashdeswal.com") yashdeswal.com
			|. In a recent interview, the Chief Minister of my state Mr. Arvind Kejriwal said, "
			a(href="https://www.thehindu.com/news/cities/Delhi/delhi-is-ready-to-deal-with-covid-19-says-kejriwal/article31496495.ece") The threat of the virus is something that we will have to learn to live with
			|". This statement along with the ongoing lifting of nationwide movement lockdown got us thinking about what happens when the lockdown is completely lifted.
			br
			br
			| If social media sources are to be believed, the virus took over the NCR with just 
			a(href="https://qz.com/india/1812476/coronavirus-scare-from-italy-tourists-delhi-man-shake-india/") 15 infected people from Italy
			|, this essentially means that even 15 carriers from a state with 4000+ confirmed cases (as of 15.05.2020) could result in lockdowns all over again and this is a serious threat. While we couldn't figure out a faster, easier and more efficient method for checking for COVID-19, we did come up with a way to check for symptoms of the virus at a domestic level and we are calling it 
			strong Eyena.
hr

//- div.row#introduction
//- 	div.col-lg-12
//- 		h1 Greetings!
//- 		p
//- 			| Hello everyone! I am Krish, an engineering aspirant and high-school student from 
//- 			a(href="https://sanskritischool.edu.in") Sanskriti School, New Delhi
//- 			| . You can read up more about me on 
//- 			a(href="https://krishgoel.herokuapp.com") my portfolio page
//- 			|. In a recent interview, the Chief Minister of my state Mr. Arvind Kejriwal said, "
//- 			a(href="https://www.thehindu.com/news/cities/Delhi/delhi-is-ready-to-deal-with-covid-19-says-kejriwal/article31496495.ece") The threat of the virus is something that we will have to learn to live with
//- 			|". This statement along with the ongoing lifting of nationwide movement lockdown got me thinking about what happens when the lockdown is completely lifted.
//- 			br
//- 			br
//- 			| If social media sources are to be believed, the virus took over the NCR with just 
//- 			a(href="https://qz.com/india/1812476/coronavirus-scare-from-italy-tourists-delhi-man-shake-india/") 15 infected people from Italy
//- 			|, this essentially means that even 15 carriers from a state with 4000+ confirmed cases (as of 15.05.2020) could result in lockdowns all over again and this is a serious threat. While I couldn't figure out a faster, easier and more efficient method for checking for COVID-19, I did come up with a way to check for symptoms of the virus at a domestic level and I am calling it 
//- 			strong Eyena.
//- hr