div.row#research
	div.col-lg-12
		h2 My research and notes
		ul
			li 
				a(href="https://www.becil.com/uploads/tender/Corrigendumhealthcarepdf-66a662d4d6c8e2facb46fd1574ab41f4.pdf") Corrigendum to expression of interest for empanelment of agency for supply of hand held thermal imaging system
				br
				| [13.05.2020]The Indian govenrment requested a tender for an IR thermometer which I found to be something similar to Eyena. The specification for the government tender device can be found in the link above
			li 
				a(href="https://learn.sparkfun.com/tutorials/mlEyena90614-ir-thermometer-hookup-guide/all") MLX96014 IR Thermometer Hookup Guide and specifications
				br
				| [14.05.2020] The guide for hooking up MLX96014 to the MCU. The keypoints to note here are the range of detection, accuracy and power requirements of the sensor. Since MLX96014 is the major dominance in the region, I didn't have many options to choose from.
			li 
				a(href="https://www.youtube.com/watch?v=NzMncrfZAmU") No-contact temperature sensor MLX96014 with Arduino UNO tutorial
				br
				| [14.05.2020] Linked above is a tutorial for developing an MLX96014 based no-contact thermometer. The tutorial is particularly helpful in understanding the overall working of the system.
			li 
				a(href="https://www.theverge.com/circuitbreaker/2017/8/17/16158104/smart-mirror-diy-raspberry-pi-commute-weather-time-gadget") Build your own smart mirror with Raspberry Pi
				br
				| [15.05.2020] The above link is the complete tutorial for making a generic smart mirror using Raspberry Pi and beautifully MLX96014 the hardware (smart mirror functioning). Eyena aims at adding more features to what's essentially the mirror featured above.
			li
				a(href="https://medium.com/analytics-vidhya/real-time-face-detection-on-raspberry-pi-ea3f42508bcc") Real-time Face Detection on Raspberry Pi with Pi Camera Module -v2
				br
				| [18.05.2020] The above tutorial is an in-depth programming tutorial into detecting (not recognising) faces with Raspberry Pi and Pi cam module. It uses Raspbian Buster as the OS and Xailient FaceSDK for face detection.
			li
				a(href="https://www.youtube.com/watch?v=NQ5eJJgpIh0") Raspberry Pi Thermal Camera
				br
				| [18.05.2020] Demonstration of a DIY Raspberry Pi Thermal Camera
			li
				a(href="https://towardsdatascience.com/detecting-people-with-a-raspberrypi-a-thermal-camera-and-machine-learning-376d3bbcd45c") Detecting people with a RaspberryPi, a thermal camera and machine learning
				br
				| [18.05.2020] Another tutorial dealing with face detection using Raspberry Pi
			li
				a(href="https://www.seeedstudio.com/blog/2019/11/25/mlx90640-thermal-imaging-cameras-for-your-microcontroller/") MLX90640 IR Array Datasheet
				br
				| [18.05.2020] MLX90640 IR Array Datasheet, not much to say there
			li
				a(href="https://learn.adafruit.com/adafruit-mlx90640-ir-thermal-camera/arduino") Adafruit MLX90640 IR Thermal Camera
				br
				| Basic setup and hookup guide for the Adafruit MLX96040 Thermal Camera Module
			br
			p.italic Please note that MLX96014 based detection and measurement has been dropped
hr