.card
	.widthRestriction
		h2 Webinar on AI
		h6 July 2020
		p
			| Raghav Sarangi and I (along with 2 teachers and Mr. Arya Nagar) delivered a 2 hour webinar on Artificial Intelligence and its relevance in today's world for all the 280 teachers at Sanskriti School. We recieved an extremely positive feedback.