.card
	.widthRestriction
		h2 ASSET DukeTip Scholarship
		h6 Qualified for the Duke University scholarship
		p
			| I was placed among the top 5% students among India and UAE and hence chosen for the summer programme at Duke University, Durham.
		a(href="https://tip.duke.edu/programs/estudies/application-instructions/international-students") 🔗 Asset DukeTip