.card
	.widthRestriction
		h2 Bliss IoT Luxury
		h6 Interned 2015-17
		p
			| With Bliss, we aimed at developing a luxurious watch with everything you'll find in a Rolex while combining it with smartness far greater than any of the current smartwatches. This is where I really felt the spark that pushed me into the technological domain.
		a(href="https://blisswatches.com") 🔗 blisswatches.com