.card
	.widthRestriction
		h2 Sanskriti MUN 2019
		h6 April 2019
		p
			| I was the Additional Director of TechOps at Sanskriti School Model United Nations 2019. My work included graphic designing and all the technological aid required to ensure a smooth experience throughout the conference.
		a(href="https://sanskritimun.com") 🔗 sanskritimun.com