.card
	.widthRestriction
		h2 Sanskriti MUN 2019
		h6 December 2019
		p
			| I was the Director of TechOps at Sanskriti School Intra Model United Nations 2019. My work included developing a website that could be used for the future installments of the event and all the technological aid required to ensure a smooth experience throughout the conference.
		a(href="https://sanskritimun.com") 🔗 sanskritimun.com