.card
	.widthRestriction
		h2 ProjectBeta 
		h6 Head of AI and IoT 2020-21
		p
			| I was selected as the head of department for AI and IoT for the academic session 2020-21.
		a(href="https://projectbeta.tech") 🔗 projectbeta.tech