.card
	.widthRestriction
		h2 ProjectBeta 
		h6 Vice President 2019-20
		p
			| I served as the Vice-President and Head of AI and IoT at my school's IT club - ProjectBeta. I led the teams in various interschool startup events including programming, pitch and design.
		a(href="https://projectbeta.tech") 🔗 projectbeta.tech