.card
	.widthRestriction
		h2 ReapBenefit COVID-19 Division Fundraiser
		h6 July 2020
		p
			| I was involved with ReapBenefit COVID-19 Division, a student led initiative in collaboration with 
			a(href="https://reapbenefit.org") ReapBenefit Solve Ninjas
			| . The aim was to assist 39 families of the Gosavi community in the Hubli district of Karnataka. We raised a grand total of $650.
		a(href="https://reapbenefitfundraiser.herokuapp.com") 🔗 ReapBenefit website