.card
	.widthRestriction
		h2 SpaceTech @ Exun
		h6 October 2019
		p
			| Kartik Gupta, Raghav Sarangi and I developed an idea for agricultural growth on the Lunar surface. While the idea did stand out, we couldn't make it to top 3 because of our technological contingencies. You can read on the idea below.
		a(href="https://drive.google.com/drive/folders/1E7EJTsJhww2c5vz1DRLYnc9JRg6RynOU?usp=sharing") 🔗 LunatiX Documentation