.card
	.widthRestriction
		h2 Web Dev Worksop
		h6 June 2018
		p
			| Organised and conducted a three-week summer workshop on web development and logic development through Scratch for the younger students. This not only gave me an opportunity to give back to the society but also helped me earn some pocket money respectfully.