.card
	.widthRestriction
		h2 Wellfur Foundation
		h6 May 2020
		p
			| I recently helped Wellfur Foundation, a student led organization working towards helping street animals by feeding them and providing them with medical care and attention.
		a(href="https://wellfurfoundation.herokuapp.com") 🔗 Wellfur Foundation website