.card#design
	.widthRestriction
		h2 The Design Squad
		p 
			a(href="#") Amartya, 
			a(href="#") Kataria 
			| and I
		p
			.mono The event had special emphasis on design alongside the idea, here's how the Design Squad nailed that down
			br
			.bold Major shoutout to Omu for minting icons at the speed of light and Kataria for joining us on the second night and revamping the entire design model.
		br
		p
			| While creating the userflows and UX for TGA, we wanted to create something intuitive, something that flows naturally throught the neurons. While there's scope of development there, here's a quick guide into how we put everything together.
		br
		img(src="/images/theGyaanAcademy/designDeck/2.png")
		br
		br
		h3 The Palettes
		br
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/3.png")
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/4.png")
		br
		br
		p 
			| We went for a very simplistic look with pastel green and muted tones of blue, white and black to exhibit athe connection of learning with nature. However, we did play with some gradients to keep the design being dull and boring, to make it more engaging.
		br
		br
		h3 The Logo
		br
		img(src="/images/theGyaanAcademy/designDeck/5.png")
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/6.png")
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/7.png")
		br
		br
		p 
			| Kartikay revamped our logo design from being a Banyan Tree flaticon to a geometric Banyan Tree, the tree of wisdom and learning according to many ancient Indian tales.
			br
			| The green represents serenity, the container deep blue represents the unknowns of the universe and the green square gives it an illusionistic feel to convey the element of surprises. This was the end result and we couldn't be more satisfied with it.
		br
		br
		h3 The gradient icons
		br
		img(src="/images/theGyaanAcademy/designDeck/8.png")
		br
		br
		p
			| Amartya brilliantly made over 30 icons to make the deck and pitch more appealing, these are only some of his clean and precise flaticons with make-clipped gradients that bring them to life.
		br
		br
		h3 The Mockups
		p Made on Figma and Photoshop
		br
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/mockup1.png")
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/mockup2.png")
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/10.png")
		.col-2
			img(src="/images/theGyaanAcademy/designDeck/11.png")
		p We had to shrink to the size of mockup screen because of some guidelines, properly rendered mockups coming soon (hopefully)
		br