.card#plan
	.widthRestriction
		h2 The econ and the business model
		br
		img(src="/images/theGyaanAcademy/deck/12.png")
		.col-2
			img(src="/images/theGyaanAcademy/deck/13.png")
		.col-2
			img(src="/images/theGyaanAcademy/deck/14.png")
		br
		br
		p
			| Now comes the part about economics and the funds usage.  Our goal isn’t just to make a strong economy, it’s to make a beautiful, a sundar one. While the majority of the funds would go into making the content and development of the tech stack, we’d also need funds for advertisements and promotions. Which I'll be talking about in the coming sections.
			br
			br
			| Another strat that can be implemented is paying the master educators for the core initial courses in course royalty fees which may or may not be capped.
			br
			br
			| Our money-model approach is extremely simple, take the money from the user and pay our bills just as any other business. The interesting part comes in when we talk about the funds usage and the membership plans.
			br
			| We plan on offering 2 options of the end consumer - buying a course or buying a subscription. While buying a course is similar to our pseudo-competitors like CourseEra and Udemy, the latter i.e. our subscription model is what that sets up apart. The subscription allows you the access to all of our ‘smarter’ features which includes all of the schooling experience for a limited time much like you’d expect in a school.
			br
			| To put it into perspective, it’s much like the Kindle books model, you can either buy a book for a price or you can get the KindleUnlimited subscription where you get access to a large library for a llimited time.
			br
			br
			| Now, being an avid reader, The $100 Startup by Chris Guillebeau taught me that any business runs on how it adds value to itself and the user, while the users learn and become a better version of themselves, we add value to ourselves not just throught the monetary transactions of $15-$20 a month, we do it because we create a network, a network of people willing to learn, the next generation which will be the next set of change makers, once we tap that network, the wealth will have no upper cap. Because the only basic fundamental law to run a business is miniaml expenditure and maximum influx of the green, when we have the access to such a network, the marketing costs (also the main expense) drops to absolute minimal 'cause the network does the promotion for us and that's just one way to look at it.
			br
			br
			| Milan Kundera said , "A busines has only 2 aspects, innovation and marketing. So while we have the innovation part nailed down, let's talk about marketing, about getting the word out there and about changing the education system around the world for good.
			br
			| It’s the 21st century and we can’t possibly rely on billboards so we’ll be implementing smart promotion strategies like competitive leaderboards, targeted social media ads with smart analytics, rewards for posting and sharing the platform and achievements.
			br
			br
			| As suggested by Mr. Aryaman, our mentor for The Gyan Acad, we could really implement acquisition marketing  i.e. using smart methods to acquire targeted customers who are already slightly inclined into buying your services instead of trying to approach the open world and trying to get everyone, even the people who wouldn't be even remotely interested.
			br
			br
			| Our stratergies for customer acquisition would mainly revolve around social media resharing, why do we buy sneakers? They look good yes but a lot of it comes from the fact that your friends have it too, it makes you feel like a part of a group, we aim at creating a similar feelng  of belongingness with our social media campaign, much like people use Instagram because their friends are there, we want people to use TGA because their friends are learning with us. 
			| Bonus social media content would include special filters, badges that people can share on their profiles, even if they aren't a customer, we want to create an experience that they can cherish even without paying us and here's how it benefits us, when they use our filters, they essentially promote us and that gentlement, is social media commerce for you. That's what we plan to do.
		br