.card#future
	.widthRestriction
		h2 The Plan of Expansion: Plan 2.0
		br
		.col-2 
			img(src="/images/theGyaanAcademy/deck/10.png")
		.col-2 
			img(src="/images/theGyaanAcademy/deck/11.png")
		br
		br
		h4 AR/VR Integration
		p
			| Imagine being able to get a tour of your dream IT company, your favourite automobile brand’s factory, a modern day hydroponics farm or Gordon Ramsey’s kitchen all with your friends from the comfort of your homes. That’s all a part of our AR/VR implementation plan.
		br
		h4 The world's headed towards social commerce and so are we
		p
			| Gyaan Academy isn’t just a school, it’s the new learning social media platform. To explain this aspect in a little more details, let’s imagine a scenario where you open Instagram and scroll through your feed to see your friends showcasing their achievements, taking courses, master classes going on, even you teaching i.e. any user passing certain requirements to start a course and teach a skill to everyone else around, that’s what our vision coincides with.
		br
		h4 Real life school collaborations
		p
			| And after a certain period of time and gaining credibility, we also plan on having Gyaan Academy divisions in school and other educational institutes, all integrated with our APIs because our vision isn't to put the current learning systems out of business but to enhance them.
		br