.card#working
	.widthRestriction
		h2 Here's how we make it happen
		p
			| Now, moving on from what we aim at doing to how we accomplish that aim.
		br
		img(src="/images/theGyaanAcademy/deck/4.png")
		br
		.col-2
			img(src="/images/theGyaanAcademy/deck/5.png")
			br
			br
			h4 Life Skills Development
			p(style="width: 95%")
				| First up, we have SUPW Education or Vocational Education and we don’t just restrict ourselves to SUPW, we call it life skills development. 
				br
				| Someone said, an ounce of theory is worth a ton of action and we couldn;t agree more. When the human brain learns by doing, it learns outside the “ideal-scenario” bubble, it learns where things go wrong and learns the importance of failure for Yoda said, “The greatest teacher failure is”
			br
			br
		.col-2
			img(src="/images/theGyaanAcademy/deck/6.png")
			br
			br
			h4 Master Classes
			p(style="width: 95%")
				| While we don’t really have much to explain here, learning from the master of your trade obviously comes with its own set of benefits, think about it this way, would you wanna be mentored by someone who’s only well versed with theory or someone like Stephen Hawking.
		.col-2
			img(src="/images/theGyaanAcademy/deck/7.png")
			br
			br
			h4 Curriculum designed with child psychologists and experts
			p(style="width: 95%")
				| We work with the professionals and child psychologists to make sure you learn what is needed without stressing your brains out, to make learning fun while ensuring no one gets bored. This curriculum is periodically updated to prevent any redundancy in terms of content and goes without saying, we add new career and professions continuously.
			br
			br
		.col-2
			img(src="/images/theGyaanAcademy/deck/8.png")
			br
			br
			h4 Creating social connections
			p(style="width: 95%")
				| I am sure all of us would agree, school isn’t defined by the 5 subjects taught, it’s about the people, about the friends and about the fun times and nothing could make us deprive you of it so we make sure you develop the same social connections as you would in a physical school. With intra and inter school events, meetups, bonding activities etc.