.card#idea
	.widthRestriction
		h2 What is The Gyaan Academy?
		br
		.col-2
			img(src="/images/theGyaanAcademy/deck/1.png")
			br
			br
			p.center Opening slide from the pitch deck
			br
			br
		.col-2
			img(src="/images/theGyaanAcademy/deck/2.png")
			br
			br
			p.center Idea introduction slide from the pitch deck
			br
			br
		p The Gyaan Academy isn't just another Udemy, it’s the new social network. While searching for solutions, we realised that every sustainable dev goal is a subset of the bigger problem - that lack of an educated population so, targeting this root cause would essentially mean eventually minimizing the others. Mahatama Gandhi described education as the mightiest means to shake the world, gently and that's where our thoughts coincided.