.card
	.widthRestriction
		p 
			| Hi there
			br
			| The Gyaan Academy was our (
			a(href="#") Amartya
			| , 
			a(href="https://api.whatsapp.com/send?phone=919821943279&amp;text=hLo%20Kattu%20bebsssssssss!&amp;source=&amp;data=&amp;app_absent=") Kataria 
			| and my) idea submission to the 
			a(href="https://docs.google.com/document/d/1knMwl0VCeYnG0WUfCfavPYtO2b9VU1AvUCmYOuiRxLM/edit?usp=sharing") Make Prompt at MINET X 2020 
			| (more details to the competition can be found 
			a(href="https://docs.google.com/document/d/1XGd4g70jAkGd0brlfFQCaIP5jXi_ntrQ6oKSC1wRlJI/edit?usp=sharing") here
			| ) to solve not just 1 but all 17 Sustainable Development Goals for the 5 BRICS Nations. When we set out on our 60 hour journey to build this idea ground-up, our goal wasn't to win but to create, build something novel that could really be scaled to not just the 5 BRICS mentioned by the prompt but any region of the world, to make quality education more accessible.
			br
			br 
			| Personally, I have always been passionate about changing the education system for good, teaching what's useful, what the student wants to learn and teaching to the point of perfection. While it is one of my life goals to build a school with the best in class infrastructure and state of the art curriculum, this competition gave me a chance to rethink all of that. Why do it then, why not now? Why only for the 3,000 kids who'll attend and not the millions who can do it online? Why only for the ones who'll be able to afford it, why not everyone who deserves it? The Gyaan Academy answered all of that.
			br
			br
			span.mono 
				| No flex but the event was judged by 
				a(href="https://anandchowdhary.com/") Mr. Anand Chowdhary 
				| (Creative technologist, Forbes 30 under 30).