.card#seekhoSikhao 
	.widthRestriction
		h2 Making it more accessible: The Seekho-Sikhao Programme
		br
		img(src="/images/theGyaanAcademy/deck/9.png")
		br
		br
		p
			| Coming to, what about the rural, remote areas and the economically backwards sections of the society? Bill Gates said that it isn’t your fault if you’re born poor, it is if you die poor, with our Seekho-Sikhao Programme, we’ll be ensuring our level best that we don’t let the poor die poor. 
			br
			br
			| The idea of this community outreach programme is to educate the people in the remote areas and we’re not talking about programming but about skills that’ll be particularly helpful to them, like operating a computer, technologies to advance their current livelihood, hydroponics and other activities for farmers, basic math, english and science education for the school kids by partnering up with the local schools etc.
			br
			br
			| And all of this is done by volunteers from our userbase under the guidance of our mentors and masters, at the end of each of these workshops, you receive a certificate or achievement and the pride of giving back to the community you take so much from.
		br