.card#tech
	.widthRestriction
		h2 The Tech Stack
		.mono Because at the end of it, it's a tech startup
		br
		img(src="/images/theGyaanAcademy/deck/16.png")
		br
		br
		p
			| While there isn't much to talk the tech stack here since this is an idea pitch but no harm in briefing, so for minimal expenditure we'll be going for a PWA initially built on Vue.JS with MongoDB and host it on Heroku for functional and smooth cross-platform support. But since nothing beats an old fashioned mobile application so later on we'll be working on developing those.