.card#thankyou
	.widthRestriction
		br
		img(src="/images/theGyaanAcademy/designDeck/13.png")
		h2 Thank you for reading this
		br
		p 
			| Check out  
			a(href="#") Amartya here 
			| and checkout more of 
			a(href="#") Kataria's work here
			| .
		br
		br
		p If you wish to work on this project or something similar, feel free to hit me up, see ya!