.card
	.widthRestriction
		h2 Ensuring user engagement
		.mono Because kids have the attention span of a 2 year old
		br
		img(src="/images/theGyaanAcademy/deck/15.png")
		br
		br
		p
			| Another point raised was, how do we keep the user involved, especially kids who lack the concentration required?
			br
			br
			| While our core strategy would to be have engaging teaching techniques but that obviously isn't enough so we'll be gamifying the whole process. The user will get point for achievements, completing courses, learning, engaging with other users, referring other users etc. This is bound to create the feeling of healthy competition, the leaderboard will be available at various divisions starting from 'Your Friends' to 'Global'. Other techniques include social media platform integrations with Instagram and Snapchat because this is Gen-Z.
		br