.card
	.widthRestriction
		br
		img(src="/images/theGyaanAcademy/deck/3.png")
		br
		br
		h4 Learning what that matters more
		p 
			| The things we wanted to learn were never a part of the school syllabus or the content was inadequate, things like entrepreneurship, programming, culinary arts, financial education, even growing plants and hydroponics weren’t there and we believe they would have been much more helpful to us than the history lessons. Well, we don’t do that here, you’re taught only what you want to learn and to the point of perfection.
			br
			| Being strong believers of Ikigai, we wanted our course selection algos and support to help you find yours.
		br
		h4 Learning from the best, the masters of the trade
		p 
			| You choose your gurus and learn from the industry experts, you learn concepts that you can apply in the real world, concepts that are relevant, you design your own future and you learn from the master because obviously, learning from the masters comes with it added extra benefits.
		br
		h4 Building the connections you'd build in a school
		p
			| We understand the importance of having real people in your life and the fact that everyone loves a little highschool drama and would definitely not want you to be deprived of that, so unlike other learning platforms where you just pursue courses, with Gyaan, you do the same but with friends. The platform has groups, mostly categorised on the basis of your age and organises regular meetups and other bonding activities.
		br