.card
	.widthRestriction
		h2 About
		p
			| The BinaryBox was an MVP Startup idea that 
			a(href="#") Kartik Gupta
			| , 
			a(href="https://yashdeswal.com") Yash Deswal 
			| and I for 
			a(href="https://minet.co") Make @ MINET X 2019
			| . We placed #3 at the Pitch event judged by creative technologists like 
			a(href="https://anandchowdhary.com/") Anand Chowdhary.
			br
			br
			| BinaryBox is a subscription-based STEM Kits delivery service. We aim at developing a generation of imagineers who can change the world for the better with technology by their side.
			br
			br
			| BinaryBox provides hands-on knowledge and initial skills to get them interested in being future robotics engineers.
		br
		h3 Our Story
		p
			| We were fortunate enough to have recently visited the TERI facility in the village of Kathgodam in Uttarakhand. The minimal yet elaborate use of basic technology was something that touched us deeply. Impressed by this use of technology, we went on to create a solution to bring this joy to millions and here we are.
		br
		h3 Problems that led us here
		p
			li The current STEM kits don’t give you the actual hands-on knowledge required to jump into the actual domain of STEM
			br
			li With the current STEM kits, you copy-paste what’s given in the manual. There is no actual understanding of the logic and workflow
			br
			li The STEM kits available don’t impart any life skills and limit your creativity to the box
		br
		h3 Company Ideology
		p
			span.bold Social mission: 
			| On a mission to help produce an evolved generation that’s better adapted to STEM and work in tandem to make the world a better place because we believe in imagineers who can change the world for the better.
		p
			span.bold Philanthropic philosophy: 
			| The BB Privilege Programme The BinaryBox Privilege Programme is our philanthropic initiative wherein for every kit shipped, we take a percentage of our profits and use it to take tech-ed to remote areas.
		p
			span.bold But why bother at all? 
			| Technology is omnipresent and drives virtually everything in today’s world, with our kits, we create people who drive technology.
		p
			span.bold Environmental initiative:
			|  Minimalist design and care for nature (mostly in packaging)
		br
		h3 Competitive advantage
		p
			| It's 
			span.bold fun
		p
			| Gives you the 
			span.bold actual basic knowledge and initial skills 
			| needed for entering the domain of programming and technological development
		p
			| Develops 
			span.bold logic and reasoning 
			| that form the basis of programming and mathematics.
		p
			| Ensures that you 
			span.bold learn and not just copy-paste 
			| using 
			span.bold encryption-decryption techniques, putting in order through workflow logics 
			| and 
			span.bold explaining the logic 
			| behind every line of code
		p
			| Not limited to just manuals, you can 
			span.bold add your creativity to the projects.
		p 
			span.bold Imparts life skills
			| , you can even FAIL, the manual gives you the knowledge not the steps. After all, 
			span.bold “The greatest teacher, failure is” - Yoda
		p 
			| We don’t give you a pre-programmed computer, you get the 
			span.bold actual microcontrollers 
			| used by imagineers which are 
			span.bold programmed by you
			| . You don’t learn how to connect wires but how to 
			span.bold make things work
		p
			| You 
			span.bold learn the actual syntax
			|  used by developers around the world
		p
			| Every monthly kit 
			span.bold comes with a theme and a relevant toy
		br
		h2 The BB Privilege Programme
		p
			| The BinaryBox Privilege Programme is our philanthropic initiative wherein for every kit shipped, we take a percentage of our profits and use it to take tech-ed to remote areas. 
			br
			br
			| We aim at organising camps and workshops in remote regions of the world with the funds obtained. While we won’t be teaching topics as complex as microcontrollers for the beginning, we’ll be targeting to teach the basic use of computers and smartphones to increase the connectivity, not only for our prime audience - the kids but also the adults and grownups. We may as well promote volunteership and encourage our consumer base to help us teach at these workshops and lead by example.
			br
			br
			| Initially, in the budding stage, we’ll be looking at 30% - 40% of our profits being invested into the programme. However, as the company grows and breaks even, this percentage will rise to as high as 50%. 
		br
		h3 Promotion Strat and Exclusivity business model
		p
			| Every kit comes with a unique code that once entered adds the kit to your account and enables the access to all the kit content (activities, programming, logic workflows, puzzles, encryption-decryption etc.), this adds a non-proprietary yet an effective barrier to content piracy
			br
			br
			| There is also a global leaderboard, the players are awarded points for completing a kit, uploading pictures of their end result with our hashtag to social media platforms. This serves ___ purposes, gives us free social media promotion that looks much more genuine than “This is my product, I gave big bucks to Instagram and now you should buy it” and it creates a competitive spirit that subconsciously tells the kids to buy more kits.
			br
			br 
			| Everytime a kid buys a kit, he/she gets a referral code. This code gives the user an off on the subscription price and the giver more points to top the leaderboard.
		br
		h4 Market size
		p
			| With the edutainment industry growing bigger than ever with online learning gaining more popularity, it is estimated to be at around $200B globally and about $20B in India itself.
		br
.card
	.widthRestriction
		h2 The Aesthetics
		br
		img(src="/images/binaryBox/aesthetic.png")
		br
		br