.card
	.widthRestriction
		h2 IITs adapting distance learning accessible
		h6 21.07.2020
		p
			| Organised and planned the infamous CTF cryptic hunt for ProjectBeta 3.0 2019. The participants had an extremely positive review about the same...
			a(href='#') &nbsp;Read more
		.tags
			.tag
				p STEM
			.tag
				p Startup idea
			.tag
				p Subcription model