.card
	.widthRestriction
		h2 My notes from 'The $100 Startup'
		h6 
			| Coming soon
		p
			| Owing to my new-found passion in financial education and entrepreneurship, I am currently reading 'The $100 Startup' by Chris Guillebeau. This post includes my findings and notes from the book.
		.tags
			.tag
				p Entrepreneurship
			.tag
				p Startups
			.tag
				p Quick business deployment
			.tag
				p Scaling
		p 
			//- a(href='/blog/the$100Startup') Check it out
			a(href='javascript:void(0)') Coming soon