.card
	.widthRestriction
		h2 Where I think I am headed
		h6 Coming soon
		p
			| I have always had different outlook of my future since my early childhood from being an astronaut and living inside a spaceshuttle to spend all of my dad's money and not do anything. This post talks about all of it and what I wanna do now.
		.tags
			.tag
				p Business automation
			.tag
				p The 10-year goal
		p 
			//- a(href='/blog/the$100Startup') Check it out
			a(href='javascript:void(0)') Coming soon