html
	include ../includes/head.pug
	body
		include ../includes/partials/blogTopnav.pug
		#belowTopNavContent
			.widthRestriction(style="margin-top: 150px;")
				h1 Welcome x i88eegc2 i2eed g 
				p This is a lot of random content obfb ued This is a lot of random content obfb ued This is a lot of random content obfb ued This is a lot of random content obfb ued This is a lot of random content obfb ued 
				//- .col-2

		//- Homebrewed scripts
		script(src="/javascripts/style.js")
		script(src="/javascripts/darkMode.js")