.experience#experience
	.widthRestriction
		.gradient.B2F
		h1.Head.mono 🎯 Experience
		.col-4
			.largeScreen
				include experienceCards/pitchMINETX2020.pug
				include experienceCards/AIWebinar.pug
				include experienceCards/projectBetaHoDAIIoT.pug
				include experienceCards/pitchMINETX2019.pug
				include experienceCards/blissIoT.pug
			.midScreen
				include experienceCards/pitchMINETX2020.pug
				include experienceCards/betaTest2020.pug
				include experienceCards/AIWebinar.pug
				include experienceCards/wellfurFoundation.pug
				include experienceCards/projectBetaHoDAIIoT.pug
				include experienceCards/spaceTech2019.pug
				include experienceCards/pitchMINETX2019.pug
				include experienceCards/interSMUN2019.pug
				include experienceCards/blissIoT.pug
			.smallScreen
				include experienceCards/pitchMINETX2020.pug
				include experienceCards/cryptX2020.pug
				include experienceCards/betaTest2020.pug
				include experienceCards/reapbenefitFundraiser.pug
				include experienceCards/AIWebinar.pug
				include experienceCards/quarantechCrypticHunt.pug
				include experienceCards/wellfurFoundation.pug
				include experienceCards/webDevPythonWorkshop2020.pug
				include experienceCards/projectBetaHoDAIIoT.pug
				include experienceCards/intraSMUN2019.pug
				include experienceCards/spaceTech2019.pug
				include experienceCards/betaTest2019.pug
				include experienceCards/pitchMINETX2019.pug
				include experienceCards/projectBetaVP.pug
				include experienceCards/interSMUN2019.pug
				include experienceCards/webDevWorkshop2018.pug
				include experienceCards/blissIoT.pug
				include experienceCards/assetScholarship.pug

		.col-4
			.largeScreen
				include experienceCards/cryptX2020.pug
				include experienceCards/quarantechCrypticHunt.pug
				include experienceCards/intraSMUN2019.pug
				include experienceCards/projectBetaVP.pug
				include experienceCards/assetScholarship.pug
			.midScreen
				include experienceCards/cryptX2020.pug
				include experienceCards/reapbenefitFundraiser.pug
				include experienceCards/quarantechCrypticHunt.pug
				include experienceCards/webDevPythonWorkshop2020.pug
				include experienceCards/intraSMUN2019.pug
				include experienceCards/betaTest2019.pug
				include experienceCards/projectBetaVP.pug
				include experienceCards/webDevWorkshop2018.pug
				include experienceCards/assetScholarship.pug

		.col-4
			.largeScreen
				include experienceCards/betaTest2020.pug
				include experienceCards/wellfurFoundation.pug
				include experienceCards/spaceTech2019.pug
				include experienceCards/interSMUN2019.pug
		
		.col-4
			.largeScreen
				include experienceCards/reapbenefitFundraiser.pug
				include experienceCards/webDevPythonWorkshop2020.pug
				include experienceCards/betaTest2019.pug
				include experienceCards/webDevWorkshop2018.pug