.intro#intro
	.widthRestriction
		.col-2
			br
			h1 Hi, I'm Krish
			h4.mono Pronounced KrishSkywalker
			br
			p 
				mark
					| I’m a technophile and a full-time aspiring engineering student at 
					a(href="https://sanskritischool.edu.in") Sanskriti School, New Delhi.
					br 
					br
					| Web development and programming being my métier, I’m currently learning how to teach the machines to think autonomously and working on a smart streetwear fashion startup.
					br 
					br
					| Bricolage is my thing and I spent my last 2 summers teaching younger students the intricacies of coding. Looking at the bigger picture, I aspire to develop ‘smarter’ energy sources and solve global-ecological problems with the lines I type.
					br
					br 
					| I am currently reading 
					a(href="https://www.goodreads.com/book/show/12605157-the-100-startup") The $100 Startup by Chris Guillebeau
					| .