.projects#projects
	.widthRestriction
		.gradient.O2P
		//- .gradient.Y2O
		h1.mono 🌐 Featured Projects
		.col-4
			.largeScreen
				include projectCards/gyaanAcademy.pug
				include projectCards/binaryBox.pug
			.midScreen
				include projectCards/gyaanAcademy.pug
				include projectCards/eyena.pug
				include projectCards/binaryBox.pug
				include projectCards/arduinoDrumpads.pug
			.smallScreen
				include projectCards/gyaanAcademy.pug
				include projectCards/vkyd.pug
				include projectCards/eyena.pug
				include projectCards/lunatix.pug
				include projectCards/binaryBox.pug
				include projectCards/alexation.pug 
				include projectCards/arduinoDrumpads.pug
				include projectCards/anet-a8.pug

		.col-4
			.largeScreen
				include projectCards/vkyd.pug
				include projectCards/alexation.pug 
			.midScreen
				include projectCards/vkyd.pug
				include projectCards/lunatix.pug
				include projectCards/alexation.pug 
				include projectCards/anet-a8.pug
			
		.col-4
			.largeScreen
				include projectCards/eyena.pug
				include projectCards/arduinoDrumpads.pug

		.col-4
			.largeScreen
				include projectCards/lunatix.pug
				include projectCards/anet-a8.pug
		br
		br
		br
		p Check out all of my projects 
			a(href="/projects") here