.reachMe#reachMe
	.widthRestriction
		.gradient.F2Y
		h1.Head.mono ☎️ Reach me
		br
		.col-2
			.playlistContainer
				.widthRestriction
					iframe(src="https://open.spotify.com/embed/playlist/26Dig7gzJrw1Cqm8sgHI5f" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media").spotify
			br
		.col-2
			.widthRestriction
				//- .card
				//- 	.widthRestriction
				//- 		h2 ✨ I'm currently accepting new freelance projects
				p 
					| Feel free to hit me up on any of these platforms
				br
				.contactLinks
					a(href="https://instagram.com/KrishSkywalker7")
						i.fa.fa-instagram
						|  krishskywalker.v1
					a(href="https://github.com/KrishSkywalker")
						i.fa.fa-github#github
						|  KrishSkywalker
					a(href="https://open.spotify.com/user/39emqovi90p90iq1sfbczkan0?si=-pd9Nq4KR4GNb5pqU5afig")
						i.fa.fa-spotify
						|  Spotify
					a(href="https://twitter.com/KrishSkywalker7").contactLinks
						i.fa.fa-twitter
						|  @KrishSkywalker7
					a(href="https://www.facebook.com/krish.goel.9028").contactLinks
						i.fa.fa-facebook
						|  krish.goel.9028
					a(href="https://www.linkedin.com/in/krish-goel-88793a1a8/").contactLinks
						i.fa.fa-linkedin
						|  LinkedIn
					a(href="https://www.reddit.com/user/KrishSkywalker").contactLinks
						i.fa.fa-reddit
						|  u/KrishSkywalker
					a(href="mailto:krishgoel3@gmail.com")
						| ✉️ krishgoel3@gmail.com
					a(href="https://glitch.com/@krishskywalker").contactLinks
						| Glitch
					a(href="https://www.hackerrank.com/KrishSkywalker").contactLinks
						i.fab.fa-hackerrank
						|  HackerRank
				.gradient.Y2C
				.KrishSkywalker
					p
						| May the force be with you!
						br
						br
						| Made with ❤️ and some code
						//- br
						//- br
						//- span(style="font-weight: 400; font-size: 12px") Last updated 07.09.2020 00:23 IST