.repertoire#repertoire
	.widthRestriction
		.gradient.P2B
		h1.sectionHead.mono 📄 My Repertoire
		.col-4
			.largeScreen
				include repertoireCards/artificialIntelligence.pug
				include repertoireCards/javascript.pug
			.midScreen
				include repertoireCards/artificialIntelligence.pug
				include repertoireCards/webDev.pug
				include repertoireCards/javascript.pug
				include repertoireCards/node.pug
			.smallScreen
				include repertoireCards/artificialIntelligence.pug
				include repertoireCards/python.pug
				include repertoireCards/webDev.pug
				include repertoireCards/iot.pug
				include repertoireCards/javascript.pug
				include repertoireCards/robotics.pug
				include repertoireCards/node.pug
				include repertoireCards/c++.pug

			
		.col-4
			.largeScreen
				include repertoireCards/python.pug
				include repertoireCards/robotics.pug
			.midScreen
				include repertoireCards/python.pug
				include repertoireCards/iot.pug
				include repertoireCards/robotics.pug
				include repertoireCards/c++.pug
			
		.col-4
			.largeScreen
				include repertoireCards/webDev.pug
				include repertoireCards/node.pug
			
			
		.col-4
			.largeScreen
				include repertoireCards/iot.pug
				include repertoireCards/c++.pug