.card
	.widthRestriction
		h2 Artificial Intelligence
		p
			| I am currently learning to teach the machines to think with 
			a(href="https://www.udemy.com/artificial-intelligence-az") this Udemy course
			|.
		.progressBarContainer
				.progressBar.B2G(style="width: 30%")