.card
	.widthRestriction
		h2 C++
		p
			| I am a real dum dum when it comes to C++ mostly because I have only used it for scripting the hardware and robots that I build.
		.progressBarContainer
				.progressBar.B2G(style="width: 20%")