.card
	.widthRestriction
		h2 IoT and automation
		p
			| I have developed home automation solutions with Alexa and worked with an IT startup that aimed at developing an IoT ecosystem of luxury products
		.progressBarContainer
				.progressBar.B2G(style="width: 40%")