.card
	.widthRestriction
		h2 Node.JS
		p
			| I am fluent in Node.JS and I'm currently learning backend with Node.JS and MongoDB with 
			a(href="https://www.udemy.com/course/complete-back-end-development-with-nodejs-projects/") this Udemy course
			|.
		.progressBarContainer
				.progressBar.B2G(style="width: 60%")