.card
	.widthRestriction
		h2 Python
		p
			| Being my first programming language, Python has always been my go-to for competitive programming  and quick-dev.
		.progressBarContainer
				.progressBar.B2G(style="width: 80%")