.card
	.widthRestriction
		h2 Hardware and robotics
		p
			| I can work with Arduinos, TI Launchpads and a myriad of sensors to make robots and other hardware devices.
		.progressBarContainer
				.progressBar.B2G(style="width: 50%")