.card
	.widthRestriction
		h2 Structural web dev
		p
			| Web development being my forte, I am adept at working with web langauges including Pug and Stylus
			|.
		.progressBarContainer
				.progressBar.B2G(style="width: 100%")